@using GlueFramework.CustomSysSettingsModule.Dtos;
@model IEnumerable<SiteSettingDto>
@{
    ViewData["Title"] = "Custom Site Settings";
}
<h1>@ViewData["Title"]</h1>

<style>
    .nav-tabs {
    min-height: 41px; /* 保持容器高度稳定 */
    }

    .add-tab {
    top: 2px !important;
    right: 10px !important;
    }

    .nav-link .btn-close {
    transition: opacity 0.2s;
    }

    .nav-link:not(:hover) .btn-close {
    opacity: 0.5;
    }

    .tab-content > .active {
    overflow:auto;
    }

    .text-hide-excess {
    max-width: 60vw;
    display: inline-block; /* 或 block */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    }
</style>

<div class="mt-3">
    <!-- 标签页容器 -->
    <ul class="nav nav-tabs flex-column flex-md-row position-relative" id="dynamicTabs">
        @foreach (var group in Model.Select(x => x.Group).Distinct())
        {
            <li class="nav-item pe-md-2">
                <a class="nav-item nav-link" data-bs-toggle="tab"
                href="#@(string.IsNullOrEmpty(group) ? "default": group)" role="tab">
                    <span>@(string.IsNullOrEmpty(group) ? "default" : group)</span>
                    <button class="btn-close ms-2" id="delBtn_@group" style="font-size: 0.65rem"></button>
                </a>
            </li>
        }
        <!-- 动态标签插入位置 -->
        <li class="add-tab ms-auto">
            <button class="btn btn-primary" id="addGroupBtn"><i class="fa fa-add"></i></button>
        </li>
    </ul>

    <!-- 内容面板容器 -->
    <div class="accordion tab-content" id="dynamicTabsContent">
        @foreach (var group in Model.Select(x => x.Group).Distinct())
        {
            <div class="tab-pane fade" id="@(string.IsNullOrEmpty(group) ? "default": group)" role="tabpanel">
                <table id="tb_settings_@group" class="table table-bordered">
                    <colgroup>
                        <col style="min-width: 250px;width: 250px;">
                        <col> 
                        <col style="width: 200px;"> 
                    </colgroup>
                    <thead>
                        <tr style="background-color:#f8f9fa">
                            <th>Key</th>
                            <th>Value</th>
                            <th> <button class="btn btn-primary" id="addRowBtn_@group"><i class="fa fa-add"></i></button></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where(x => x.Group == group))
                        {
                            <tr data-visible="@item.DefaultVisible">
                                <th data-id="@item.Id">@item.SKey</th>
                                @if (item.ReadOnly)
                                {
                                    <td>@item.SValue</td>
                                }
                                else
                                {
                                    <td onclick="focusValueSpan(this)" >
                                        <span class="text-hide-excess" title="@item.SValue">@(item.DefaultVisible?item.SValue:"......")</span>
                                        <input class="w-100 d-none" onblur="onChangedValue(this)" type="@(item.DefaultVisible?"text":"password")" value="@item.SValue" />
                                    </td>
                                }

                                <td class="d-flex">
                                    @if (item.Removable)
                                    {
                                        <a class="me-1" href="#" onclick='deleteRow(this)'>
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        <a href="#" onclick='switchVisible(this)'>
                                            <i class="fa @(item.DefaultVisible?"fa-eye":"fa-eye-slash")"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <button id="saveBtn_@group" class="btn btn-primary mb-3"><i class="fa fa-save me-2"></i>Save</button>
            </div>
        }
    </div>
</div>

<div id="divDynamicForm" style="display:none">
    <form id="frmPostGroupSettings" asp-controller="CustomSiteSettings" asp-action="SaveSettingsByGroup">
        <input type="submit" value="submit" id="btnSaveByGroupDynamicForm" />
    </form>
</div>

<div id="deleteGroupDynamicForm" style="display:none">
    <form id="frmDeleteByGroup" method="post" asp-controller="CustomSiteSettings" asp-action="DeleteGroupByName">
        <input type="submit" value="submit" id="btnDeleteGroupDynamicForm" />
    </form>
</div>

<script>
    function showOrchardErrorMessage(message) {
        const notice =
            $(`<div class="alert alert-dismissible alert-danger fade show message-error" role="alert">
              ${message}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>`).prependTo($(".ta-content"));
    }
    function showOrchardInfoMessage(message) {
        const notice =
            $(`<div class="alert alert-dismissible alert-success fade show message-info" role="alert">
              ${message}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>`).prependTo($(".ta-content"));
    }

    function showOrchardWarningMessage(message) {
        const notice =
            $(`<div class="alert alert-dismissible alert-warning fade show message-warning" role="alert">
              ${message}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>`).prependTo($(".ta-content"));
    }

    function focusValueSpan(e){
        var spanEle=$(e).find("span")
        var inputEle=$(e).find("input")
        spanEle.addClass("d-none");
        inputEle.removeClass("d-none");
        inputEle.focus();
    }

    function onChangedValue(e){
        var spanEle=$(e.parentNode).find("span");
        var inputEle=$(e.parentNode).find("input");
        spanEle.removeClass("d-none");
        inputEle.addClass("d-none");
        var row=e.parentNode.parentNode.getAttribute("data-visible");
        console.log(row);
        if(row=="True"){
            spanEle[0].innerHTML=inputEle[0].value
        }else{
            spanEle[0].innerHTML="......";
        }
        spanEle[0].title=inputEle[0].value
    }

    document.addEventListener("DOMContentLoaded", function () {
      let tabCounter = 1;
      if ($("#dynamicTabs").find(".nav-item .nav-link").length > 0) {
        $("#dynamicTabs").find(".nav-item .nav-link")[0].classList.add("active");
        $("#dynamicTabsContent").find(".tab-pane:first").addClass("active show");
      }
      // 添加标签页功能
      $("#addGroupBtn").click(function (e) {
        e.preventDefault();

        var existTab = $("#dynamicTabs").find("a span");
        if (existTab.filter('[contenteditable="true"]').length > 0) {
            showOrchardErrorMessage("Please save the previous newly added group before adding it again.")
          //alert("Please save the previous newly added group before adding it again");
        } else {
          const tabId = `tab-${tabCounter}`;
          const tabTitle = `New group ${tabCounter}`;

          // 创建导航标签
          const $tabItem = $(`
                  <li class="nav-item pe-md-2">
                      <a class="nav-item nav-link" data-bs-toggle="tab"
                         href="#${tabId}" role="tab">
                         <span contenteditable="true"> ${tabTitle}</span>
                         <button class="btn-close btn-sm ms-2"
                                 style="font-size: 0.65rem"></button>
                      </a>
                  </li>
              `).insertBefore("#dynamicTabs .add-tab");

          // 创建内容面板
          const $contentPane = $(`
                  <div class="tab-pane fade" id="${tabId}" role="tabpanel">
                      <table id="tb_settings" class="table table-bordered">
                        <colgroup>
                        <col style="min-width: 250px;width: 250px;">
                        <col>
                        <col style="width: 200px;">
                    </colgroup>
                      <thead>
                          <tr style="background-color:#f8f9fa">
                              <th>Key</th>
                              <th>Value</th>
                              <th> <button class="btn btn-primary" id="addRowBtn"><i class="fa fa-add"></i></button></th>
                          </tr>
                      </thead>
                      <tbody>
                      </tbody>
                      </table>
                      <button id="saveBtn" class="btn btn-primary mb-3"><i class="fa fa-save me-2"></i>Save</button>
                  </div>
              `).appendTo("#dynamicTabsContent");

          // 激活新标签
          new bootstrap.Tab($tabItem.find("a")).show();

          // 关闭按钮功能
          $tabItem.find(".btn-close").click(function (e) {
            e.stopPropagation();
            const isActive = $tabItem.find("a").hasClass("active");

            if (isActive) {
              const prevTab = $tabItem.prev().find("a");
              if (prevTab.length) {
                new bootstrap.Tab(prevTab).show();
              }
            }

            $tabItem.remove();
            $contentPane.remove();
          });
          console.log($contentPane.find("#addRowBtn"));
          $contentPane.find("#addRowBtn").click(function (e) {
            var svg = '<i class="fa fa-trash"></i>';
            var visibleSvg='<i class="fa fa-eye"></i>';
            var newRow = document.createElement("tr");
            newRow.innerHTML =
              '<th contenteditable="true" onblur="sKeyChanged(this)"></th>' +
              '<td onclick="focusValueSpan(this)"><span class="text-hide-excess"></span><input class="d-none w-100" onblur="onChangedValue(this)" /></td>' +
              '<td class="d-flex"><a class="me-1" href="#" onclick="deleteRow(this)">' +
              svg +
              '</a><a href="#" onclick="switchVisible(this)">'+
              visibleSvg +
              "</a></td>";
            $contentPane
              .find("#tb_settings")
              .find("tbody")[0]
              .appendChild(newRow);
              newRow.setAttribute("data-visible","True")
              console.log("111")
          });
          $contentPane.find("#saveBtn").click(function (e) {
            const groupName=$tabItem.find("a span")[0].textContent.trim();
            if(groupName.trim()==""||groupName==null){
                showOrchardErrorMessage("Group name is required.");
                return;
            }
            var tableData = [];
            var rows = $contentPane.find("#tb_settings")[0].rows;
            for (var i = 1; i < rows.length; i++) {
              var rowData = {};
              var cells = rows[i].cells;
              rowData.Id = cells[0].getAttribute("data-id")==null?0:parseInt(cells[0].getAttribute("data-id"));
              rowData.SKey = cells[0].innerText;
              rowData.Removable = true;
              rowData.ReadOnly = false;
              rowData.Group = groupName;
              rowData.DefaultVisible = rows[i].getAttribute("data-visible")=="True"?true:false;
              if (rowData.SKey && rowData.SKey.length > 0) {
                rowData.SValue = $(cells[1]).find("span")[0].title;
                tableData.push(rowData);
              } else {
                cells[0].style.border = "2px solid red";
                return;
              }
            }
            submitSettingsByGroup(tableData);
          });

          tabCounter++;
        }
      });

      var spans = document
        .getElementById("dynamicTabs")
        .querySelectorAll("a span");
      var groups = Array.from(spans).map((span) => span.textContent.trim());

      for (var i = 0; i < groups.length; i++) {
        const group = groups[i];

        var addBtn = document.getElementById("addRowBtn_" + group);

        addBtn.addEventListener("click", function (e) {
          var svg = '<i class="fa fa-trash"></i>';
          var visibleSvg='<i class="fa fa-eye"></i>';
          var newRow = document.createElement("tr");
          const newHtml='<th contenteditable="true" onblur="sKeyChanged(this)"></th>' +
            '<td onclick="focusValueSpan(this)"><span class="text-hide-excess"></span><input class="d-none w-100" onblur="onChangedValue(this)" /></td>' +
            '<td class="d-flex"><a class="me-1" href="#" onclick="deleteRow(this)">' +
            svg +
            '</a>'+
            '<a href="#" onclick="switchVisible(this)">'+
            visibleSvg +
            '</a></td>';
            console.log(newHtml);
          newRow.innerHTML =newHtml;
          document
            .getElementById("tb_settings_" + group)
            .getElementsByTagName("tbody")[0]
            .appendChild(newRow);
            newRow.setAttribute("data-visible","True")
            console.log("222")
        });

        var delBtn=document.getElementById("delBtn_" + group);
        delBtn.addEventListener("click", function (e) {
            if(confirm("Are you sure delete this group?")){
                var form = document.getElementById("frmDeleteByGroup");
                 var input = document.createElement("input");
                 input.setAttribute("type", "text");
                 input.setAttribute("name", "name");
                 input.setAttribute("value", group);
                 form.appendChild(input);
                 document.getElementById("btnDeleteGroupDynamicForm").click();
            }
        })

        var saveBtn = document.getElementById("saveBtn_" + group);
        saveBtn.addEventListener("click", function (e) {
          var tableData = [];
          var rows = document.getElementById("tb_settings_" + group).rows;
          for (var i = 1; i < rows.length; i++) {
            var rowData = {};
            var cells = rows[i].cells;
            rowData.Id = cells[0].getAttribute("data-id")==null?0:parseInt(cells[0].getAttribute("data-id"));
            rowData.SKey = cells[0].innerText;
            rowData.Removable = true;
            rowData.ReadOnly = false;
            rowData.Group = group;
            rowData.DefaultVisible = rows[i].getAttribute("data-visible")=="True"?true:false;
            if (rowData.SKey && rowData.SKey.length > 0) {
              rowData.SValue = $(cells[1]).find("span")[0].title;
              tableData.push(rowData);
            } else {
              cells[0].style.border = "2px solid red";
              return;
            }
          }
          submitSettingsByGroup(tableData);
        });
      }
    });

    function deleteRow(ele) {
      if (confirm("Are you sure delete this row?")) {
        var row = ele.parentNode.parentNode;
        row.parentNode.removeChild(row);
      }
    }

    function switchVisible(ele){
        var row = ele.parentNode.parentNode;
        var visible=row.getAttribute("data-visible");
        var columns = $(row).find("td");
        var ico=$(columns[1]).find("a")[1];
        var valSpan=$(columns[0]).find("span")[0];
        var valInp=$(columns[0]).find("input")[0];
        if(visible == "True")
        {
            const svg = '<i class="fa fa-eye-slash">';
            ico.innerHTML=svg;
            valSpan.innerText="......";
            valInp.type="password";
            row.setAttribute("data-visible","False");
        }
        else
        {
            const svg = '<i class="fa fa-eye">';
            ico.innerHTML=svg;
            valSpan.innerText=valSpan.title;
            valInp.type="text";
            row.setAttribute("data-visible","True")
        }
    }

    function sKeyChanged(ele) {
        var sKey=ele.innerText.trim()
      var rows=ele.parentNode.parentNode.parentNode.rows;

      var currentRow=ele.parentNode
          console.log(currentRow)
      for (let i = 0; i < rows.length; i++) {
          if(rows[i]!=currentRow&&rows[i].cells[0].innerText.trim()==sKey){
              showOrchardErrorMessage("Key '"+sKey+"' duplicate data.");
              ele.style = "border:2px solid red";
              return;
          }
      }
      if (sKey.length == 0) {
        ele.style = "border:2px solid red";
      } else {
        ele.style = "";
      }
    }

    function submitSettingsByGroup(settings) {
        console.log(settings);
      const sKeyExists = new Set();
      let errorIndex = -1;
      var form = document.getElementById("frmPostGroupSettings");
      for (i = 0; i < settings.length; i++) {
        var settingsItem = "settings[" + i.toString() + "]";

        if (sKeyExists.has(settings[i].SKey)) {
            errorIndex = i;
            break;
        }
        var input = document.createElement("input");
        input.setAttribute("type", "text");
        input.setAttribute("name", settingsItem + ".SKey");
        input.setAttribute("value", settings[i].SKey);
        form.appendChild(input);
        sKeyExists.add(settings[i].SKey)

        input = document.createElement("input");
        input.setAttribute("type", "text");
        input.setAttribute("name", settingsItem + ".Id");
        input.setAttribute("value", settings[i].Id);
        form.appendChild(input);

        input = document.createElement("input");
        input.setAttribute("type", "text");
        input.setAttribute("name", settingsItem + ".Group");
        input.setAttribute("value", settings[i].Group);
        form.appendChild(input);

        input = document.createElement("input");
        input.setAttribute("type", "text");
        input.setAttribute("name", settingsItem + ".DefaultVisible");
        input.setAttribute("value", settings[i].DefaultVisible);
        form.appendChild(input);

        input = document.createElement("input");
        input.setAttribute("type", "text");
        input.setAttribute("name", settingsItem + ".SValue");
        input.setAttribute("value", settings[i].SValue);
        form.appendChild(input);

        input = document.createElement("input");
        input.setAttribute("type", "text");
        input.setAttribute("name", settingsItem + ".Removable");
        input.setAttribute("value", "true");
        form.appendChild(input);

        input = document.createElement("input");
        input.setAttribute("type", "text");
        input.setAttribute("name", settingsItem + ".ReadOnly");
        input.setAttribute("value", "false");
        form.appendChild(input);
      }
      if(errorIndex>-1){
          showOrchardErrorMessage("Key '"+settings[i].SKey+"' duplicate data.");
      }else{
          if (settings.length > 0) {
              document.getElementById("btnSaveByGroupDynamicForm").click();
          } else {
              // if(confirm("There is no data to add, continuing to save will lose the current group data")){
              // }
              showOrchardErrorMessage("Please add Key Value Pair(s) that needs to be saved");
          }
      }
    }
</script>